<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Включи мою музыку в QQPlayer</string>
				<string>Включи мои любимые треки в QQPlayer</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INAddMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Добавь эту песню в избранное в QQPlayer</string>
				<string>Добавь эту песню в плейлист в QQPlayer</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
